.schedule-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

.fixed-header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #1f2937;
    /* bg-gray-800 */
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.table-container {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

}

.table-wrapper {
    height: 100%;
    overflow-y: auto;

}

table thead {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: #374151;
    /* bg-gray-700 */
    border-radius: 25px;

}

table tbody {
    position: relative;

}

tr:hover {
    background-color: #4b5563;
    /* bg-gray-600 */
}